<div id="page-wrapper">
            
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                <span ng-if="initiative._id == null">Add Initiative</span>
                <span ng-if="initiative._id != null">Edit Initiative</span>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-8">
                            <form role="form">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">ID:</label>
                                    <div class="col-sm-8" style="padding-bottom:10px">
                                        <input type="text" class="form-control" ng-model="initiative.ID" id="ID" placeholder="ID">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Initiative Name:</label>
                                    <div class="col-sm-8" style="padding-bottom:10px">
                                        <input type="text" class="form-control" ng-model="initiative.InitiativeName" id="InitiativeName" placeholder="Initiative Name">
                                    </div>
                                    
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Initiatve SortOrder:</label>
                                    <div class="col-sm-8" style="padding-bottom:10px">
                                        <input type="text" class="form-control" ng-model="initiative.InitiatveSortOrder" id="InitiatveSortOrder" placeholder="Initiative SortOrder">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Initiatve Short Name:</label>
                                    <div class="col-sm-8" style="padding-bottom:10px">
                                        <input type="text" class="form-control" ng-model="initiative.InitiativeShortName" id="InitiativeShortName" placeholder="Initiatve Short Name">
                                    </div>
                                </div>
                               
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-if="initiative._id == null" ng-click="add()">Add</button>
    <button class="btn btn-primary" type="button" ng-if="initiative._id != null" ng-click="update()">Update</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>



        
        
        