<div class="modal-header">
    <h3 class="modal-title">Add Practice</h3>
</div>
<div class="modal-body">

	
    
    <form class="form-horizontal">
  <div class="form-group">
    <label for="PracticeName" class="col-sm-4 control-label">Practice Name:</label>
    <div class="col-sm-8">
      <input type="text" class="form-control" id="PracticeName" placeholder="Office Name">
    </div>
  </div>
  <div class="form-group">
    <label for="OfficeCluster" class="col-sm-4 control-label">Practice Cluster:</label>
    <div class="col-sm-8">
      <input type="text" class="form-control" id="PracticeCluster" placeholder="Practice Cluster">
    </div>
  </div>
  <div class="form-group">
    <label for="practiceShortName" class="col-sm-4 control-label">practice Short Name:</label>
    <div class="col-sm-8">
      <input type="text" class="form-control" id="practiceShortName" placeholder="practice Short Name">
    </div>
  </div>
  
  </form>
    
    
    

</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">Add</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>



        
        
        